body{
    background-image: url(./storage/fondo.jpg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: white;
    border-radius: 2vi;
    width: 40vi;
    box-shadow: 5px 5px 5px 15px rgba(19, 19, 19, 0.2);
}


#imagen{
    border-radius: 20vi;
    border:solid 0.8vi rgb(81, 81, 81); 
    border-style:groove;
}


#boton{
    width: 3vi;
    opacity: 30%;
    
}

#boton:hover{
    opacity: 100%;
    
}

button#two{
    background-color: transparent;
    border: none;
    padding:1vi;
}

button#two:hover{
    border: block;
    background-color: transparent;
    padding:1vi;
    transform: translateY(-0.4vi);
    border: block;
    border-radius: 10px;
    border-color: green;
}

h4{
    color: gray;
}

#container_password,
#container_emmail,
#container_phone,
#container_address,
#container_birthday{
    display:none;
}


button#one{
    width: 10vi;
    height: 4vi;
    border-radius: 10px;
}

button#one:hover{
    border: block;
    padding:1vi;
    transform: translateY(-0.4vi);
    border: block;
    border-radius: 10px;
    border-color: green;
}