* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
}

.contenedor {
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    box-shadow: 2px 2px 7px rgb(123, 123, 124);
    border-radius: 5px;
}

h2,
p {
    color: #85bc45;
}

h2 span,
p span {
    color: rgb(0, 0, 0);
}

img {
    border-radius: 50%;
    width: 100px;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    border: none;
    background: linear-gradient(to right, rgb(14, 67, 174), rgb(7, 94, 224));
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 400ms;
}

button:hover {
    transform: scale(1.1);
}