* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
}

.contenedor {
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    box-shadow: 2px 2px 7px rgb(123, 123, 124);
    border-radius: 5px;
}

h2,
p {
    color: #85bc45;
}

h2 span,
p span {
    color: rgb(0, 0, 0);
}

img {
    border-radius: 50%;
    width: 100px;
}

.userimg {
    background-color: black;
    border-radius: 50%;
    width: 100px;
}


/* Botones */

.datos .fa {
    font-size: 24px;
    color: gray;
}


.datos .fa {
    border: none;
    outline: none;
}

.datos button {
    border: none;
    outline: none;
    background: none;
    padding: 20px;
}


/* EDITAR! 
/* Estilos para los iconos */
.datos .fa {
    font-size: 24px; /* Tamaño de los iconos */
    color: green; /* Color de los iconos */
}

/* Estilos para los botones */
.datos button {
    margin-right: 10px; /* Margen entre los botones */
    border: none;
    outline: none;
    background-color: grey; /* Color de fondo gris para los botones */
    padding: 5px 10px; /* Espaciado interno de los botones */
    transition: transform 0.3s, background-color 0.3s; /* Transiciones para la animación */
}

/* Cambiar el color y aplicar la animación al pasar el mouse */
.datos button:hover {
    background-color: green; /* Cambiar el color de fondo a verde al pasar el mouse */
    transform: translateY(-3px); /* Elevar ligeramente el botón al pasar el mouse */
}



*/