@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    overflow: hidden; /* Para evitar la barra de desplazamiento vertical */
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    min-height: 100vh;
}

main {
    display: inline-block;
    margin: 1%;
    padding: 15px;
    position: relative;
}

.asriel {
    position: absolute;
    top: 40vh;
    left: 50%; /* Ajusta según lo necesites */
    transform: translateX(-50%);
    width: 450px;
}

h1 {
    text-align: center;
    margin:3%;
    font-size: 40px;
    width: 100%;
    color: white;
}

.buttons {
    position: absolute;
    top: 100%;
    width: 85%;
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 2%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 500;
    color: blaCK;
    background-color: #ffffff;
    box-shadow: -1px 5px 0 #212221, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}